<%- include('../partials/header') %>

<h1>DEV SKILLS</h1>
    <h3><a href="/skills/new">Add a new Skill</a></h3>
    <ul>
        <% list.forEach(function(sk, idx){ %>
            <li>
                <div class="num"><%= idx + 1 %>. </div>
                <a href="/skills/<%= idx %>">
                    <%= sk.skill %>
                </a>
                - Level: "<div class="level"><%= sk.level %></div>"
                <form method="POST" action="/skills/<%= idx %>?_method=DELETE"  style="display: inline;">
                    <button type="submit">Delete Skill</button>
                  </form>
            </li>
        <% }) %>
    </ul>
</body>
</html>